<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header header-logo"><a href="/" style="font-family:'Courier New', monospace;">ritwikraha<span class="blinking-cursor">|</span></a></div>
            <div class="menu navbar-right">
                {% for i in site.urls %}
                <a class="menu-item" href="{{site.url}}{{i.url}}">{{i.text}}</a>
                {% endfor %}
                
            </div>
        </div>
    </nav>
    <nav class="navbar-mobile" id="nav-mobile">
        <div class="container">
            <div class="navbar-header">
                <div><a href="/">Ritwik Raha | ritwikraha</a>
                <!-- <div class="menu-toggle" onclick="mobileBtn()">&#9776; Menu</div> -->
                
            </div>
            <div class="menu-toggle" onclick="mobileBtn()">&#9776; </div>
            <div class="menu navbar-right" id="mobile-menu">
                
                {% for i in site.urls %}
                <a class="menu-item" href="{{site.url}}{{i.url}}">{{i.text}}</a>
                {% endfor %}
            </div>
        </div>
    </nav>
</header>