---
layout: default
---

<div class="main">
    <div class="container">
        <div class="intro">
            <div class="nickname" style="font-family:'Courier New', monospace;">Ritwik Raha</div>
            <div class="description">
                <p style="font-family:'Courier New', monospace;">👋 Hey, I am Ritwik, I like to <a href="https://twitter.com/ritwik_raha">ponder</a>, <a href="https://ritwikraha.github.io/posts">write</a>, <a href="https://www.youtube.com/@ritwikraha">teach</a> and occassionally <a href="https://github.com/ritwikraha">build</a> stuff.</br></p>
            </div>
            <div class="links">
                <a class="link-item" title="Link"
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=ritwikraha.nsec@gmail.com" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-link"></i>
                </a>
                <a class="link-item" title="YouTube"
                    href="https://www.youtube.com/@ritwikraha" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-youtube"></i>
                </a>
                <a class="link-item" title="Twitter" href="https://twitter.com/ritwik_raha" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-twitter"></i>
                </a>
                <a class="link-item" title="Github" href="https://github.com/ritwikraha" target="_blank" rel="noopener">
                    <i class="iconfont icon-github"></i>
                </a>
            </div>
        </div>
    </div>
    <script>"serviceWorker" in navigator && (navigator.serviceWorker.controller ? console.log("[PWA Builder] active service worker found, no need to register") : navigator.serviceWorker.register("pwabuilder-sw.js", { scope: "./" }).then(function (e) { console.log("[PWA Builder] Service worker has been registered for scope: " + e.scope) }))</script>
</div>